node_modules

/.cache
/build
/public/build
.env
.DS_Store
yarn-error.log

# Sentry Config File
.sentryclirc
/.vercel/output
/.vercel/.env.preview.local

# Sentry Config File
.sentryclirc

.env*
.flaskenv*
!.env.project
!.env.vault
/.output
/.vinxi
.vercel
