node_modules

/.cache
/build
/public/build
.env
.DS_Store
yarn-error.log

# Sentry Config File
.sentryclirc

# Sentry Config File
.sentryclirc
.nitro
.tanstack
.env*
.flaskenv*
!.env.project
!.env.vault
/.output
/.vinxi
.vercel/*
!.vercel/project.json

# Sentry Config File
.env.sentry-build-plugin
