# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
/site/config/config.kulturspektakel.de.php
/site/config/config.localhost.php
/site/config/config.kult.cash.php

# Build files
node_modules
/assets/build
vendor
/yarn-error.log
deploy_rsa
.cache

# Contents
/content
/kirby
vendor
/yarn-error.log
