$brandcolor: #E12E2E;
$textcolor: #333;
$GBcolor: #E12E2E;
$KBcolor: #446571;
$WBcolor: #3E444D;
$Acolor: #979FA3;
$DJcolor: #97BD37;

@font-face {
	font-family: 'nexalight';
	src: url('../font/nexa-light-webfont.eot');
	src: url('../font/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-light-webfont.woff') format('woff'),
		 url('../font/nexa-light-webfont.ttf') format('truetype'),
		 url('../font/nexa-light-webfont.svg#nexaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexabold';
	src: url('../font/nexa-bold-webfont.eot');
	src: url('../font/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-bold-webfont.woff') format('woff'),
		 url('../font/nexa-bold-webfont.ttf') format('truetype'),
		 url('../font/nexa-bold-webfont.svg#nexabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;

	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	color: $textcolor;
	font-size: 16px;
}

.wrapper {
	min-height:100%;
	position:relative;
}

h1, h2, h3, h4 {
	font-family: 'nexabold';
	text-transform: uppercase;
}

* {
	outline-color: transparent !important;
	outline-style: none !important;
}

a {
	color: #e12e2e;
}

a:hover {
	color: #bf2626;
	text-decoration: none;
}

.light {
	font-family: 'nexalight';
}

.center {
	text-align: center;
}


figure.video {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
figure.video iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}



@import 'hero';
@import 'footer';
@import 'news';
@import 'lineup';
@import 'band';
@import 'fotos';
@import 'mehr';
@import 'panels';
@import 'brand-assets';



