$brandcolor: #E12E2E;
$textcolor: #333;
$GBcolor: #E12E2E;
$KBcolor: #446571;
$WBcolor: #3E444D;
$Acolor: #979FA3;
$DJcolor: #97BD37;

@font-face {
	font-family: 'nexalight';
	src: url('../font/nexa-light-webfont.eot');
	src: url('../font/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-light-webfont.woff') format('woff'),
		 url('../font/nexa-light-webfont.ttf') format('truetype'),
		 url('../font/nexa-light-webfont.svg#nexaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexabold';
	src: url('../font/nexa-bold-webfont.eot');
	src: url('../font/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-bold-webfont.woff') format('woff'),
		 url('../font/nexa-bold-webfont.ttf') format('truetype'),
		 url('../font/nexa-bold-webfont.svg#nexabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	color: $textcolor;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: 'nexabold';
	text-transform: uppercase;
}

* {
	outline-color: transparent !important;
	outline-style: none !important;
}

a {
	color: #e12e2e;
}

a:hover {
	color: #bf2626;
	text-decoration: none;
}

.light {
	font-family: 'nexalight';
}


@import 'lineup';







.band-socialmedia {
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 40px;
	font-size: 30px;
}

.band-socialmedia .col-xs-4 {
	padding-left: 3px;
	padding-right: 3px;
}


.band-socialmedia a {
	background: #eee;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	color: inherit;
}

.band-socialmedia a:hover {
	background-color: #e5e5e5;
}

.band-stagetime {
	background: #eee;
	text-align: center;
	border-top: 5px solid #eee;
	padding: 20px 0 16px;
	margin-bottom: 6px;
	margin-top: 4px;
	font-family: 'nexabold';
	text-transform: uppercase;
	font-size: 28px;
	line-height: 22px;
}

.band-stagetime.gb {
	border-top-color: #E12E2E;
}

.band-stagetime-stage {
	font-size: 16px;
}

.past-events {
	list-style: none;
	padding: 0;
	margin: 0;
}

.past-events li {
	margin: 0;
	padding: 5px 8px;
	background: #eee;
	border-left: 2px #eee solid;
	margin-bottom: 6px;
}

.past-events .year {
	font-family: 'nexabold';
	text-transform: uppercase;
	font-size: 20px;
}







figure.video {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
figure.video iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}






.colorfield-big {
	height: 140px;
}

.colorfield {
	height: 70px;
}

.copy {
	max-width: 100%;
	border: 0;
}