$brandcolor: #E12E2E;
$textcolor: #333;
$GBcolor: #E12E2E;
$KBcolor: #446571;
$WBcolor: #3E444D;
$Acolor: #979FA3;
$DJcolor: #97BD37;

@font-face {
	font-family: 'nexalight';
	src: url('../font/nexa-light-webfont.eot');
	src: url('../font/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-light-webfont.woff') format('woff'),
		 url('../font/nexa-light-webfont.ttf') format('truetype'),
		 url('../font/nexa-light-webfont.svg#nexaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexabold';
	src: url('../font/nexa-bold-webfont.eot');
	src: url('../font/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-bold-webfont.woff') format('woff'),
		 url('../font/nexa-bold-webfont.ttf') format('truetype'),
		 url('../font/nexa-bold-webfont.svg#nexabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	color: $textcolor;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: 'nexabold';
	text-transform: uppercase;
}

* {
	outline-color: transparent !important;
	outline-style: none !important;
}

a {
	color: #e12e2e;
}

a:hover {
	color: #bf2626;
	text-decoration: none;
}

.light {
	font-family: 'nexalight';
}

.center {
	text-align: center;
}

@import 'lineup';
@import 'band';
@import 'fotos';



figure.video {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
figure.video iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.home .sticky-wrapper {
	margin-bottom: 40px;
	
	.hero {
		margin-top: 0;
		position: relative;
		
		.nav-logo {
			left: -100px;
		}
	}
}

.hero {
	background: url('../img/hero2.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	height: 520px;
	padding-top: 120px;
	margin-bottom: 40px;
	text-align: center;
	margin-top: -430px;
	width: 100%;
	z-index: 2;
	position: fixed;
	
	h2 {
		color: white;
		font-family: 'nexalight';
		margin-top: 30px;
		height: 35px;
	}
	
	.nav-logo {
		visibility: visible;
		opacity: 1;
		width: 60px;
		position: absolute;
		left: 20px;
		bottom: 15px;
	}
	
	.branding {
		
		display: block;
		
		img {
			width: 600px;
			max-width: 90%;
		}
	}
	
	.mobile-nav {
		cursor: pointer;
		display: none;
		position: absolute;
		top: 15px;
		right: 15px;
		color: white;
		font-size: 28px;
		line-height: 40px;
	}
		
	nav {
		position: absolute;
		bottom: 20px;
		left: 80px;
		right: 80px;
		
		.menu {
			list-style: none;
			font-family: 'nexabold';
			text-transform: uppercase;
			font-size: 18px;
			margin: 0;
			padding: 0;
			text-align: center;
		
			li {
				display: inline-block;
		
				a {
					color: white;
					display: block;
					padding: 0 30px 12px;
					position: relative;
					
					&:hover {
						top: 2px;
					}
					
					&.active:hover {
						top: 0;
					}
					
					&.active {
						background-image: url('../img/menu-active.png');
						background-repeat: no-repeat;
						background-position: center bottom;
						background-size: 5px 5px;
					}
					
					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
						&.active {
							background-image: url('../img/menu-active@2x.png');
						}
					}
				}
			}
		}
	}	
	@media (max-width: 991px) {		
		nav {
			right: 10px;
			.menu li a {
				padding-left: 18px;
				padding-right: 18px;
			}
		}
	}
	
	@media (max-width:768px) {
	
		margin-top: -450px;
		height: 350px;
		padding-top: 100px;
		
		.mobile-nav {
		
			-ms-touch-action: manipulation;
			touch-action: manipulation;
		
			$color: #fff;
		
			$height-icon: 20px;
			$width-line: 36px;
			$height-line: 4px;
			
			$transition-time: 0.4s;
			$rotation: 45deg;
			$translateY: ($height-icon / 2);
			$translateX: 0;

			width:$width-line;
			height:$height-icon;
			display:block;
			
			.line {
				display:block;
				background:$color;
				width:$width-line;
				height:$height-line;
				position:absolute;
				left:0;
				border-radius:($height-line / 2);
				transition: all $transition-time;
				-webkit-transition: all $transition-time;
				-moz-transition: all $transition-time;
				
				&.line-1 {
					top:0;
				}
				&.line-2 {
					top:50%;
				}
				&.line-3 {
					top:100%;
				}
			}
			&:hover, &:focus {
				.line-1 {
					transform: translateY($height-line / 2 * -1);
					-webkit-transform: translateY($height-line / 2 * -1);
					-moz-transform: translateY($height-line / 2 * -1);
				}
				.line-3 {
					transform: translateY($height-line / 2);
					-webkit-transform: translateY($height-line / 2);
					-moz-transform: translateY($height-line / 2);
				}  
			}
			.active&  {
				.line-1 {
					transform: translateY($translateY) translateX($translateX) rotate($rotation);
					-webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
					-moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
				}
				.line-2 {
					opacity:0;
				}
				.line-3 {
					transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
					-webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
					-moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
				}
			}
		}
		
		nav {
			opacity: 0;
			visibility: hidden;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 60px;
			-webkit-transition: opacity .2s;
			transition: opacity .2s;
			
			.menu {
				li {
					float: none;
					display: block;
					font-size: 20px;
					
					a.active {
						background: none;
						color: $brandcolor;
					}
					
					a:hover {
						top: 0;
					}
				}
			}
			

		}
		
		.branding, h2 {
			position: relative;
			left: 0px;
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
			-webkit-transition: -webkit-transform .2s;
			transition: transform .2s;
		}
		
		&.active {			
			.branding, h2 {
				position: relative;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
				-webkit-transition: -webkit-transform .2s;
				transition: transform .2s;
			}
			
			nav {
				-webkit-transition: opacity .3s;
				transition: opacity .3s;
				opacity: 1;
				visibility: visible;
				
			}
		}
		
		.nav-logo {
			width: 40px;
			left: 15px;
		}
		
		.branding img {
			max-height: 130px;
		}
		
	}
}

.content {
	padding-top: 110px;
}

.home {
	.content {
		padding-top: 0px;
	}
}

.panel {
	width: 100%;
	min-height: 250px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-color: #333;
	margin-bottom: 20px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center 30%;
	
	h2 {
		font-size: 34px;
		margin: 0;
		background-image: url('../img/overlay.png');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 100px;
	}
}


.footer {
	background-color: #272727;
	padding: 20px 0;
	color: white;
	margin-top: 60px;
	
	.footer-infos {
	
		h3 {
			font-size: 16px;
			margin: 0;
			margin-bottom: 7px;
		}
		
		p {
			margin-left: 52px;
			padding-right: 20px;
		}
		
		img {
			width: 42px;
			float: left;
			margin-right: 10px;
		}
	}
	
	.footer-icons {
		padding-top: 25px;
		overflow: hidden;
		
		.icons-right {
			float: right;
		}
	}
	
	@media (max-width: 768px) {
		.footer-infos {
			text-align: center;
			
			p {
				margin-left: 0;
				padding-right: 0;
			}
		}
		.footer-icons {
			padding-top: 10px;
			overflow: hidden;
			padding-bottom: 15px;
			text-align: center;
			
			.icons-right {
				float: none;
			}
		}
	}
	
	.links, .links a {
		color: #777;
	}
	
	.links a {
		color: #777;
		
		&:hover {
			color: #999;
		}
	}
	
	.social {
		background-color: white;
		border-radius: 999em;
		display: inline-block;
		color: #272727;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 24px;
		margin: 10px 15px 15px;
		text-align: center;
	
		-webkit-transition: all .2s;
		transition: width all .2s;
		
		&:hover {
			-ms-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
			
			-webkit-transition: all .2s;
			transition: width all .2s;
		}
	}
	
	@media (max-width:768px) {
		.social {margin: 10px 12px 15px;}
	}
}












.news-container {
	max-width: 700px;
	
	&.news-container-single .news article {
		display: block;
	}
	
	.news {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		
		li {
			margin-bottom: 5px;
			
			&.active hgroup {
				opacity: 1 !important;
			}
			
			&.active article {
				display: block;
			}
		}
		
		hgroup {
			overflow: hidden;
			
			.date {
				float: left;
				min-width: 60px;
				text-align: center;
				font-size: 11px;
				border-right: 2px #333 solid;
				margin-right: 10px;
				font-family: 'nexalight';
				text-transform: uppercase;
				
				.day {
					color: $brandcolor;
					font-family: 'nexabold';
					font-size: 30px;
					margin-top: -4px;
					margin-bottom: -8px;
				}
			}
			
			h1, h2 {
				margin-top: 0;
				padding-top: 5px;
				margin-left: 70px;
				padding-right: 10px;
				
				a {
					color: inherit;
				}
			}
			
			h1 {
				padding-top: 3px;
			}
			
			&.a1 {opacity: 0.7;}
			&.a2 {opacity: 0.5;}
			&.a3 {opacity: 0.3;}
			&.a4 {opacity: 0.1;}
			
			&:hover {
				opacity: 1;
			}
		}
		
		article {
			display: none;
			margin-left: 70px;
			padding-top: 10px;
			padding-right: 15px;
			padding-bottom: 15px;
			
			&:first-child {
				display: block;
			}
			
			figure img {
				width: 100%;
			}
		}
		
		&.container article {
			display: block;
		}
	
		
	}
}


#instafeed {
	overflow: hidden;
	width: 100%;
	background-color: $textcolor;
	margin-top: 60px;
	margin-bottom: 60px;
	
	.slider-row {
		overflow: hidden;
		width: 200%;
		height: 150px;
		margin-left: -150px;
	}
	
	@media (max-width:768px) {
		.slider-row {
			height: 100px;
			margin-left: -100px;
		}
		
		.slider-row img {
			max-width: 100px;
		}
	}
	
	.slider-row img {
		float: left;
	}
}




#maps {
	height: 300px;
	background-color: $textcolor;
}



.colorfield-big {
	height: 140px;
}

.colorfield {
	height: 70px;
}

.copy {
	max-width: 100%;
	border: 0;
}




.mehr {
	
	h1, h2 {
		text-align: center;
	}
	
	h2 {
		font-family: 'nexalight';
		font-size: 26px;
		margin-bottom: 50px;
	}
	
}
.more-event {
	background-color: #eee;
	margin: 50px 0;
	padding-bottom: 10px;
	position: relative;
	
	.col-photo {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		height: 100%;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
	
	&.odd {
		.col-info {margin-left: 50%;}
		.col-photo {left: 0;}
	}
	
	@media (max-width:768px) {
		&.odd {
			.col-info {margin-left: 0%;}
		}
	}
	
	.col-info {
	
		h2 {
			margin-bottom: 0;
			text-align: left;
			font-family: 'nexabold';
		}
	
		.date {
			font-family: 'nexalight';
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 6px;
		}
	}
}