.bootstrap-select {
	margin-top: 18px;
}

.bandlist {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		border-top: 5px #ddd solid;
		background: #eee;
		margin-bottom: 15px;
		cursor: pointer;
		position: relative;
		
		a {
			color: inherit;
		}
		
		a:hover {
			text-decoration: none;
		}
		
		h3 {
			margin: 3px 0 1px;
			padding-right: 30px;
		}
		
		&.active {
			.band-image, .band-description, .band-stage-close {
				display: block;
			}
			.band-stage-name {
				display: none;
			}
		}
	}
	
	.band-image  {
		position: relative;
		display: none;
		
		&:after {
			text-align: center;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(255,255,255,0.5);
			opacity: 0;
			font-size: 40px;
			color: inherit;
			padding-top: 50%;
			
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			transition: all .3s ease;
		}
		
		&:hover:after {
			opacity: 1;
			
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			transition: all .3s ease;
		}
		
		img {
			width: 100%;
		}
	}
	
	.band-info {
		padding: 5px 8px;
		overflow: hidden;
	}
	
	.band-description {
		display: none;
		border-top: 1px #ddd solid;
		margin-top: 10px;
		margin-left: -8px;
		margin-right: -8px;
		padding: 8px;
	}
	
	.band-stage {
		position: absolute;
		color: white;
		font-weight: bold;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		top: -5px;
		right: 0;
		
		&.GB {background-color: $GBcolor;}
		&.KB {background-color: $KBcolor;}
		&.WB {background-color: $WBcolor;}
		&.A  {background-color: $Acolor;}
		&.DJ {background-color: $DJcolor;}
		
		.band-stage-close {
			font-size: 16px;
			display: none;
		}
	}
}