.shop {

	h2 {
		margin-bottom: 8px;
	}
	.pricetag {
		font-family: 'nexabold';
		float: right;
	}

	.btn-success {
		display: block;
		width: 100%;
	}

	.orderform {
		margin-top: 40px;
	}

	select {
		margin-top: 20px;
	}

	.total {
		line-height: 36px;
		font-weight: bold;
	}

	.productimage {
		border: 1px solid #ccc;
		margin-bottom: 15px;
		border-radius: 5px;
	}

	.row {
		padding-bottom: 20px;
	}

	ul {
		padding-left: 25px;
	}

	.shop-success {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		display: none;

		.icon {
			font-size: 50px;
		}
	}
}
