#q-bandsearch {
	color: $textcolor;
}

.search {
	//display: none;
	margin-top: -20px;
	margin-bottom: 20px;
	
	.twitter-typeahead {
		width: 100%;
		border-bottom: 3px #ddd solid;
		input {
			padding: 14px 12px;
			font-size: 16px;
			border-radius: 0;
			border: 0;
			box-shadow: none;
			height: auto;
			
			&:focus {
				box-shadow: none;
			}
		}
		
		
	}
}


span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 0px 12px;
  margin: 0;
  clear: both;
  font-weight: normal;
  line-height: 44px;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  text-decoration: none;
  outline: 0;
  background-color: #eee;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: #eee;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}