@font-face {
	font-family: 'nexalight';
	src: url('../font/nexa-light-webfont.eot');
	src: url('../font/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-light-webfont.woff') format('woff'),
		 url('../font/nexa-light-webfont.ttf') format('truetype'),
		 url('../font/nexa-light-webfont.svg#nexaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexabold';
	src: url('../font/nexa-bold-webfont.eot');
	src: url('../font/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/nexa-bold-webfont.woff') format('woff'),
		 url('../font/nexa-bold-webfont.ttf') format('truetype'),
		 url('../font/nexa-bold-webfont.svg#nexabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	color: #333;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: 'nexabold';
	text-transform: uppercase;
}

* {
	outline-color: transparent !important;
	outline-style: none !important;
}

a {
	color: #e12e2e;
}

a:hover {
	color: #bf2626;
	text-decoration: none;
}

.bandlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bandlist li a {
	color: inherit;
}

.bandlist li a:hover {
	text-decoration: none;
}

.bandlist li {
	border-top: 5px #ddd solid;
	background: #eee;
	margin-bottom: 15px;
	cursor: pointer;
	position: relative;
}


.bandlist li h3 {
	margin: 3px 0 1px;
	padding-right: 30px;
}

.bandlist .band-image  {
	position: relative;
}

.bandlist .band-image img {
	width: 100%;
}

.bandlist .band-image:after {
	text-align: center;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	font-size: 40px;
	color: inherit;
	padding-top: 50%;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.bandlist .band-image:hover:after {
	opacity: 1;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}



.bandlist .band-info {
	padding: 5px 8px;
}

.bandlist .band-image, .bandlist .band-description {
	display: none;
}

.bandlist li.active .band-image, .bandlist li.active .band-description {
	display: block;
}

.bandlist .band-description {
	border-top: 1px #ddd solid;
	margin-top: 10px;
	margin-left: -8px;
	margin-right: -8px;
	padding: 8px;
}

.bandlist .band-stage {
	position: absolute;
	color: white;
	font-weight: bold;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	top: -5px;
	right: 0;
}

.band-stage.GB {background-color: #E12E2E;}
.band-stage.KB {background-color: #446571;}
.band-stage.WB {background-color: #3E444D;}
.band-stage.A  {background-color: #979FA3;}
.band-stage.DJ {background-color: #97BD37;}

.band-stage-close {
	font-size: 16px;
	display: none;
}

.bandlist .active .band-stage-close {
	display: block;
}

.bandlist .active .band-stage-name {
	display: none;
}


.light {
	font-family: 'nexalight';
}





.band-socialmedia {
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 40px;
	font-size: 30px;
}

.band-socialmedia .col-xs-4 {
	padding-left: 3px;
	padding-right: 3px;
}


.band-socialmedia a {
	background: #eee;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	color: inherit;
}

.band-socialmedia a:hover {
	background-color: #e5e5e5;
}

.band-stagetime {
	background: #eee;
	text-align: center;
	border-top: 5px solid #eee;
	padding: 20px 0 16px;
	margin-bottom: 6px;
	margin-top: 4px;
	font-family: 'nexabold';
	text-transform: uppercase;
	font-size: 28px;
	line-height: 22px;
}

.band-stagetime.gb {
	border-top-color: #E12E2E;
}

.band-stagetime-stage {
	font-size: 16px;
}

.past-events {
	list-style: none;
	padding: 0;
	margin: 0;
}

.past-events li {
	margin: 0;
	padding: 5px 8px;
	background: #eee;
	border-left: 2px #eee solid;
	margin-bottom: 6px;
}

.past-events .year {
	font-family: 'nexabold';
	text-transform: uppercase;
	font-size: 20px;
}







figure.video {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
figure.video iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}






.colorfield-big {
	height: 140px;
}

.colorfield {
	height: 70px;
}

.copy {
	max-width: 100%;
	border: 0;
}